@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
  font-size: 16px;
  font-family: 'Odibee Sans', cursive;
  text-align: center;
  background-color: #f8faff;
  background: #778bbd;
}

.bubbly-button {
  font-family: 'Odibee Sans', cursive;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #40DFEF;
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #3bc2cf;
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, transparent 40%, #40DFEF 40%, transparent 60%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, transparent 20%, #40DFEF 25%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%);
  background-size: 20% 20%, 40% 40%, 35% 35%, 40% 40%, 28% 28%, 20% 20%, 35% 35%, 20% 20%, 38% 38%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, transparent 20%, #40DFEF 35%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%), radial-gradient(circle, #40DFEF 40%, transparent 40%);
  background-size: 35% 35%, 40% 40%, 38% 38%, 40% 40%, 35% 35%, 20% 40%, 40% 40%;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: #21d2e2;
  box-shadow: 0 2px 25px #3bc2cf;
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 15% 100%, 20% 100%, 20% 100%, 35% 100%, 45% 100%, 45% 100%, 80% 100%, 25% 100%, 40% 100%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}